<mat-expansion-panel style="width: 1000px; margin-bottom: 20px" expanded="true">
  <mat-expansion-panel-header>
    <div class="security-header" style="margin-top: 10px">
      <img
        src="assets/payment-check.png"
        alt="payment-check"
        class="payment-check"
        style="display: inline-block"
      />
      <p style="display: inline; margin-left: 5px">Issue Digital Check Form</p>
    </div>
  </mat-expansion-panel-header>
  <div style="margin-top: 10px">
    @if(classification == 'A' || classification == 'B' ) {
    @if(hasActiveCheckbook){
    <div class="limited-info">
      <h3>Issue Digital Checks</h3>
      <p>Here you can issue a check by clicking the button below.</p>
      <p>
        All transactions will be recorded. If you face any issues, please
        contact your bank via your nearest branch or support center.
      </p>
      <button type="button" class="btn-secondary" (click)="openRequestCheck()">
        Issue Digital Check
      </button>
    </div>
    }@else {
    <div class="limited-info">
      <h3>Unable to Issue Digital Checks</h3>
      <p>
        You cannot issue a check because you do not have an active checkbook.
      </p>
      <p>Please contact your bank via your nearest branch or support center.</p>
    </div>
    } }@else {
    <div class="limited-info">
      <h3>Unable to Issue Digital Checks</h3>
      <p>
        Your current classification level does not allow you to issue digital
        checks in this section.
      </p>
      <p>
        Please navigate to ‘Classification & Settlement’ in the sidebar to
        review your classification status and take necessary actions.
      </p>
    </div>
    }
  </div>
</mat-expansion-panel>

<app-request-issue-check-form
  *ngIf="showRequestCheckOverlay"
  (cancelFilter)="cancelRequestCheck()"
  (applyFilter)="cancelRequestCheck()"
></app-request-issue-check-form>
