<div class="filter-overlay">
  <div class="filter-box">
    <h3>Filter Returned Checks</h3>

    <div class="form-field-group">
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          step="1"
          placeholder="0"
          min="0"
          max="100000"
          [(ngModel)]="filter.amount"
          class="example-right-align"
        />
        <span matTextPrefix>₪&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Issuer</mat-label>
        <mat-select [(ngModel)]="filter.issuer">
          <mat-option>
            <input
              matInput
              placeholder="Search issuer"
              [formControl]="issuerSearchCtrl"
            />
          </mat-option>
          <mat-option *ngFor="let user of filteredIssuers" [value]="user">
            {{ user.firstName }} {{ user.lastName }} ({{
              user.shayyikliAccountNumber
            }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-group">
      <mat-form-field appearance="outline">
        <mat-label>Beneficiary</mat-label>
        <mat-select [(ngModel)]="filter.beneficiary">
          <mat-option>
            <input
              matInput
              placeholder="Search beneficiary"
              [formControl]="beneficiarySearchCtrl"
            />
          </mat-option>
          <mat-option
            *ngFor="let user of filteredIssuers"
            [value]="user.firstName + ' ' + user.lastName"
          >
            {{ user.firstName }} {{ user.lastName }} ({{
              user.shayyikliAccountNumber
            }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="transactionPicker"
          [(ngModel)]="filter.date"
          readonly
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="transactionPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #transactionPicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button class="btn-secondary" (click)="onCancel()">Cancel</button>
      <button class="btn-primary" (click)="onSubmit()">Apply</button>
    </div>
  </div>
</div>
