@use "@angular/material" as mat;

mat-expansion-panel {
  @include mat.expansion-overrides(
    (
      header-collapsed-state-height: 7vh,
    )
  );
}

* {
  box-sizing: border-box;
  font-family: Georgia, serif;
  color: #201e43;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.container {
  height: fit-content;
  min-width: 220px;
  padding: 20px;
  border-radius: 10px;
  border-right: 2px;
  border-bottom: 2px;
  box-shadow: 5px 5px 10px #cdcdcd;
}
// width: 70%; /* Increased from 25% to give more space */
//   min-width: 220px; /* Set a minimum width to prevent squeezing */
//   height: 22vh;
//   padding: 25px; /* Increased from 20px */
//   padding: 20px;
//   border-radius: 10px;
//   border-right: 2px;
//   border-bottom: 2px;
//   box-shadow: 5px 5px 10px #cdcdcd;
  

.header {
  align-items: center;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 14px;
}

img {
  margin-bottom: -10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
}
.general-info {
  display: flex;
  gap: 30px;
}
.container {
  background-color: white;
}
