@use "@angular/material" as mat;

mat-expansion-panel {
  @include mat.expansion-overrides(
    (
      header-collapsed-state-height: 7vh,
    )
  );
}

* {
  box-sizing: border-box;
  font-family: Georgia, serif;
  color: #201e43;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}

.container {
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  border-right: 2px;
  border-bottom: 2px;
  box-shadow: 5px 5px 10px #cdcdcd;
}

.header {
  align-items: center;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 14px;
}

img {
  margin-bottom: -10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: #eee;
  padding: 8px;
  border-radius: 8px;
}
table th,
table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

mat-paginator {
  border-top: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-container {
  max-height: 330px;
  overflow-y: auto;
}

.filter-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
}
button {
  padding: 10px;
  background-color: #141d33;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active-filter-chips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .mat-mdc-chip-set {
    max-width: none;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .mat-mdc-chip {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 0.875rem;
    line-height: 1;

    &.mdc-evolution-chip--selected,
    &:hover {
      background-color: #141d3315;
      color: #fff;
    }

    .mat-mdc-chip-trailing {
      margin-left: 4px;
      mat-icon {
        font-size: 16px;
      }
    }
  }
}

.active-filter-chips {
  .mat-mdc-chip {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    .clear-btn {
      flex-shrink: 0;
      background-color: transparent;
    }
  }
}
