<app-alert
  *ngIf="alertMessage"
  [message]="alertMessage"
  [type]="alertType"
></app-alert>

<mat-expansion-panel style="width: 1230px; margin-bottom: 20px" expanded="true">
  <mat-expansion-panel-header>
    <div class="security-header" style="margin-top: 10px">
      <img
        src="assets/classification1.png"
        alt="info"
        class="info"
        style="display: inline-block"
      />
      <p style="display: inline; margin-left: 5px">Current Settlement</p>
    </div>
  </mat-expansion-panel-header>

  <div style="margin-top: 10px">
    @if(classification == 'A' || classification == 'B' ) {
    <div class="limited-info">
      <h3>No Settlement Required</h3>
      <p>
        Your classification level is high, so you don’t need to complete any
        settlement.
      </p>
      <p>You can continue managing checks and access all features as normal.</p>
    </div>
    } @else if(classification == 'CO' || classification == 'DO' ){
    <div class="limited-info">
      <h3>Settlement &amp; Check Management Locked</h3>
      <p>
        Your classification level is <strong>{{ classification }}</strong
        >, which is too low to perform settlements or manage checks.
      </p>
      <p>
        You are currently under a penalty period and cannot access these
        features.
      </p>
      <p>
        Please wait until your penalty period has ended to regain full access.
      </p>
    </div>
    } @else { @if(!isSettlementActive){
    <div class="limited-info">
      <h3>Low Classification Rating</h3>
      <p>Your account is restricted due to unsettled checks.</p>
      <p>Complete the settlement to restore full functionality.</p>
      <button
        type="button"
        class="btn-secondary"
        (click)="openSettlementForm()"
      >
        Request Settlement
      </button>
    </div>

    } @else{
    <div class="filter-buttons" style="margin-bottom: 10px">
      <button
        mat-button
        (click)="openFilter()"
        matTooltip="Click to apply filters and update the table"
      >
        <i class="bi bi-filter" style="color: white"></i> Add Filter
      </button>
      <span
        matTooltip="Disabled because there is no filter applied"
        [matTooltipDisabled]="hasActiveFilter()"
      >
        <button
          mat-button
          (click)="clearFilter()"
          [disabled]="!hasActiveFilter()"
          [ngStyle]="{ 'background-color': !hasActiveFilter() ? 'grey' : '' }"
        >
          Clear Filter
        </button>
      </span>
    </div>

    <app-current-settlement-filter
      *ngIf="showFilter"
      [filter]="currentFilter"
      (applyFilter)="onFilterApply($event)"
      (cancelFilter)="showFilter = false"
    ></app-current-settlement-filter>

    <ng-container
      *ngIf="
        (initiatorDetailsDataSource.filteredData ?? []).length > 0;
        else noFilteredSettlements
      "
    >
      <div class="table-container">
        <table
          mat-table
          [dataSource]="initiatorDetailsDataSource"
          matSort
          class="mat-elevation-z1"
        >
          <ng-container matColumnDef="targetUserName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Beneficiary Name
            </th>
            <td mat-cell *matCellDef="let tx">{{ tx.targetUserName }}</td>
          </ng-container>
          <ng-container matColumnDef="checkId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Check Number
            </th>
            <td mat-cell *matCellDef="let tx">{{ tx.checkId }}</td>
          </ng-container>
          <ng-container matColumnDef="transferDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Transfer Date
            </th>
            <td mat-cell *matCellDef="let tx">
              {{ formatDate(tx.transferDate) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let tx">
              <strong>{{ tx.amount | number : "1.2-2" }}₪</strong>
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let tx">{{ tx.status }}</td>
          </ng-container>
          <ng-container matColumnDef="resettle">
            <th mat-header-cell *matHeaderCellDef>Resettle</th>
            <td mat-cell *matCellDef="let tx">
              <ng-container [ngSwitch]="tx.status">
                <button
                  *ngSwitchCase="'Rejected'"
                  class="btn-accept"
                  (click)="resettle(tx)"
                >
                  Resettle
                </button>
                <span *ngSwitchCase="'Accepted'"> - </span>
                <span *ngSwitchDefault> - </span>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [pageSizeOptions]="dynamicPageSizeOptions"
        showFirstLastButtons
      ></mat-paginator>
    </ng-container>
    <ng-template #noFilteredSettlements>
      <div class="limited-info" style="text-align: center">
        <h3>No Settlements Match Your Filter</h3>
        <p>
          The filter criteria you applied did not return any settlement records.
        </p>
      </div>
    </ng-template>
    } }
  </div>
</mat-expansion-panel>

<app-create-settlement-form
  *ngIf="showSettlementForm"
  (cancelRequest)="closeSettlementForm()"
  (requestCompleted)="onSettlementCompleted()"
  (alertMessageEvent)="handleAlert($event)"
>
  >
</app-create-settlement-form>
