<div class="forgot-password-container">
  <div class="grid-container">
    <div class="grid-column">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="grid-column">
      <a routerLink="/login" class="back-link"> << Back to Log In</a>
      <h1>Forgot your password?</h1>
      <p>
        Don’t worry - it happens to all of us. Enter your email below to reset
        your password.
      </p>
      <form
        (ngSubmit)="onSubmit(forgotForm)"
        #forgotForm="ngForm"
        class="forgot-password-form"
      >
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            name="email"
            required
            email
            [(ngModel)]="email"
            #emailField="ngModel"
          />
        </mat-form-field>
        <button type="submit" class="btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
