<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
  <div class="form-row">
    <mat-form-field appearance="outline" class="custom-form-field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" placeholder="" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-form-field">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" placeholder="" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      type="email"
      placeholder=""
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Phone Number</mat-label>
    <span matPrefix>
      <img
        src="assets/palestine-flag.png"
        alt="Palestine"
        style="
          height: 1rem;
          width: 1.6rem;
          margin-right: 0.5rem;
          margin-left: 0.7rem;
        "
      />+970&nbsp;
    </span>
    <input
      matInput
      formControlName="phoneNumber"
      type="tel"
      inputmode="numeric"
      (keypress)="allowOnlyNumbers($event)"
      placeholder=""
      maxlength="9"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-form-field">
    <mat-label>Message</mat-label>
    <textarea
      matInput
      formControlName="message"
      placeholder=""
      required
    ></textarea>
  </mat-form-field>

  <button type="submit">Send Message</button>

  <div *ngIf="submitted && contactForm.invalid" class="error-message">
    <span *ngIf="firstName?.invalid || lastName?.invalid || message?.invalid">
      Check all the required fields.
    </span>
    <span
      *ngIf="
        !(firstName?.invalid || lastName?.invalid || message?.invalid) &&
        email?.invalid &&
        phoneNumber?.invalid
      "
    >
      Invalid email format and phone number must be 9 digits.
    </span>
    <span
      *ngIf="
        !(firstName?.invalid || lastName?.invalid || message?.invalid) &&
        email?.invalid &&
        !phoneNumber?.invalid
      "
    >
      Invalid email format.
    </span>
    <span
      *ngIf="
        !(firstName?.invalid || lastName?.invalid || message?.invalid) &&
        !email?.invalid &&
        phoneNumber?.invalid
      "
    >
      Phone number must be 9 digits.
    </span>
  </div>
</form>
