<div class="filter-overlay">
  <div class="filter-box">
    <h3>Filter Contact Requests</h3>
    <div class="form-field-group">
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="filterStatus">
          <mat-option value="">All</mat-option>
          <mat-option *ngFor="let s of statusOptions" [value]="s">
            {{ transformEnumValue(s) }}
          </mat-option>
        </mat-select>
        <button
          mat-icon-button
          matSuffix
          *ngIf="filterStatus"
          (click)="filterStatus = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="button-group">
      <button mat-stroked-button class="btn-secondary" (click)="onCancel()">
        Cancel
      </button>
      <button mat-flat-button class="btn-primary" (click)="onApply()">
        Apply
      </button>
    </div>
  </div>
</div>
