<div class="email-sent-container">
  <div class="grid-container">
    <div class="grid-column">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="grid-column">
      <h1>Email Sent</h1>
      <p>We’ve sent a link to reset your password to {{ resetEmail }}.</p>
      <p>
        Please check your email for the reset instructions. If you don’t see the
        email, be sure to check your spam or junk folder.
      </p>
      <button class="btn-primary" routerLink="/login">Back to Login</button>
    </div>
  </div>
</div>
