<div class="signup-container">
  <div class="grid-container">
    <div class="grid-column">
      <img src="assets/logo.png" alt="Logo" class="logo" />
    </div>

    <div class="grid-column">
      <a routerLink="/home" class="back-link">&lt;&lt; Back to Home</a>
      <h1>Sign up</h1>
      <p>
        Join Shayyikli today and unlock seamless, secure, and smart digital
        transactions.
      </p>
      <form (ngSubmit)="onCreateAccount(signupForm)" #signupForm="ngForm">
        <div class="form-row">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>First Name</mat-label>
  <input
    matInput
    name="firstName"
    required
    maxlength="50"
    pattern="[a-zA-Z _-]*"
    [(ngModel)]="signupData.firstName"
    #firstNameField="ngModel"
    (keypress)="allowOnlyLetters($event)"
  />
  <mat-error *ngIf="firstNameField.hasError('required') && (firstNameField.dirty || firstNameField.touched)">
    First name is required
  </mat-error>
  <mat-error *ngIf="firstNameField.hasError('pattern') && (firstNameField.dirty || firstNameField.touched)">
    Only letters allowed
  </mat-error>
</mat-form-field>
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Last Name</mat-label>
  <input
    matInput
    name="lastName"
    required
    maxlength="50"
    pattern="[a-zA-Z _-]*"
    [(ngModel)]="signupData.lastName"
    #lastNameField="ngModel"
    (keypress)="allowOnlyLetters($event)"
  />
  <mat-error *ngIf="lastNameField.hasError('required') && (lastNameField.dirty || lastNameField.touched)">
    Last name is required
  </mat-error>
  <mat-error *ngIf="lastNameField.hasError('pattern') && (lastNameField.dirty || lastNameField.touched)">
    Only letters allowed
  </mat-error>
</mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      name="email"
      required
      email
      maxlength="50"
      [(ngModel)]="signupData.email"
      #emailField="ngModel"
    />
    <mat-error *ngIf="emailField.hasError('required') && (emailField.dirty || emailField.touched)">
      Email is required
    </mat-error>
    <mat-error *ngIf="emailField.hasError('email') && (emailField.dirty || emailField.touched)">
      Enter a valid email
    </mat-error>
  
  </mat-form-field>

          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Phone Number</mat-label>
            <span matPrefix style="display: flex; align-items: center">
              <img
                src="assets/palestine-flag.png"
                alt="Palestine"
                style="
                  height: 1rem;
                  width: 1.6rem;
                  margin-right: 0.5rem;
                  margin-left: 0.7rem;
                "
              />
              +970&nbsp;
            </span>
            <input
      matInput
      type="tel"
      name="phoneNumber"
      required
      pattern="[0-9]{9}"
    maxlength="9"
      inputmode="numeric"
      (keypress)="allowOnlyNumbers($event)"
      [(ngModel)]="signupData.phoneNumber"
      #phoneField="ngModel"
      [ngModelOptions]="{ updateOn: 'change' }"
    />
    <mat-error
    *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)"
  >
    <ng-container *ngIf="phoneField.hasError('required')">
      Phone number is required
    </ng-container>
    <ng-container *ngIf="phoneField.hasError('pattern')">
      Must be exactly 9 digits
    </ng-container>
  </mat-error>
 
  </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>ID Number</mat-label>
            <input
              matInput
              type="text"
              id="idNumber"
              name="idNumber"
              required
              pattern="^\d{9}$"
              [(ngModel)]="signupData.idNumber"
              #idNumberField="ngModel"
              inputmode="numeric"
              (keypress)="allowOnlyNumbers($event)"
              placeholder=""
              maxlength="9"
            />
            <mat-error *ngIf="idNumberField.hasError('required') && (idNumberField.dirty || idNumberField.touched)">
              ID is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Card Number</mat-label>
            <input
              matInput
              type="text"
              id="cardNumber"
              name="cardNumber"
              required
              maxlength="19"
              [(ngModel)]="signupData.cardNumber"
              #cardField="ngModel"
              inputmode="numeric"
              (keypress)="allowOnlyNumbers($event)"
              (input)="formatCardNumber($event)"
              (blur)="onCardBlur()"
            />
            <mat-error *ngIf="cardField.hasError('required') && (cardField.dirty || cardField.touched)">
              Card number is required
            </mat-error>
            <mat-error *ngIf="cardField.hasError('pattern') || cardField.hasError('minlength')">
              Card number must be exactly 16 digits.
            </mat-error>
            <mat-error *ngIf="cardInUse">
              This card is already registered.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-row">
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Expiry Date</mat-label>
            <input
              matInput
              [matDatepicker]="dp"
              [formControl]="date"
              required
              placeholder="MM/YY"
              readonly
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dp"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #dp
              startView="multi-year"
              (monthSelected)="setMonthAndYear($event, dp)"
              panelClass="example-month-picker"
            >
            </mat-datepicker>
            
            <mat-error *ngIf="date.hasError('required') && (date.dirty || date.touched)">
              Expiry date is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="custom-form-field">
            <mat-label>Security Code</mat-label>
            <input
              matInput
              type="text"
              id="securityCode"
              name="securityCode"
              required
              pattern="^\d{3}$"
            
              [(ngModel)]="signupData.securityCode"
              #securityField="ngModel"
              inputmode="numeric"
              (keypress)="allowOnlyNumbers($event)"
              placeholder=""
              minlength="3"
              maxlength="3"
              [ngModelOptions]="{ updateOn: 'change' }"
            />
            <mat-error
            *ngIf="securityField.invalid && (securityField.dirty || securityField.touched)"
          >
            <ng-container *ngIf="securityField.hasError('required')">
              Security code is required
            </ng-container>
            <ng-container *ngIf="securityField.hasError('minlength')">
              Must be 3 digits
            </ng-container>
          </mat-error>
          </mat-form-field>
        </div>

        <div class="condition-form-group">
          <mat-checkbox
            name="terms"
            [(ngModel)]="signupData.agreedToTerms"
            required
            #termsField="ngModel"
          >
            I agree to the <a routerLink="/terms">Terms</a> and
            <a routerLink="/privacy">Privacy Policies</a>.
          </mat-checkbox>
          <mat-error *ngIf="termsField.hasError('required') && (termsField.dirty || termsField.touched)">
    You must agree to the terms
  </mat-error>
        </div>
        <button type="submit" class="btn-primary" [disabled]="signupForm.invalid || cardInUse">Create account</button>

        <div *ngIf="signupError" class="error">
          {{ signupError }}
        </div>
      </form>

      <div class="signup-link">
        Already have an account?
        <a routerLink="/login" class="login-link">Log In</a>
      </div>
    </div>
  </div>
</div>
