<mat-expansion-panel style="width: 1000px; margin-bottom: 20px">
  <mat-expansion-panel-header>
    <div class="security-header">
      <img
        src="assets/takeover.png"
        alt="takeover"
        class="user"
        style="display: inline-block"
      />
      <p style="display: inline; margin-left: 5px">Incoming Endorsements</p>
    </div>
  </mat-expansion-panel-header>

  <div style="margin-top: 10px">
    <div
      *ngIf="
        incomingEndorsementsCheckDataSource.data &&
          incomingEndorsementsCheckDataSource.data.length > 0;
        else noIncomingEndorsementsChecks
      "
    >
      <div class="filter-buttons" style="margin-bottom: 10px">
        <button
          mat-button
          (click)="openFilter()"
          matTooltip="Click to apply filters and update the table"
        >
          <i class="bi bi-filter" style="color: white"></i> Add Filter
        </button>
        <span
          matTooltip="Disabled because there is no filter applied"
          [matTooltipDisabled]="hasActiveFilter()"
        >
          <button
            mat-button
            (click)="clearFilter()"
            [disabled]="!hasActiveFilter()"
            [ngStyle]="{ 'background-color': !hasActiveFilter() ? 'grey' : '' }"
          >
            Clear Filter
          </button>
        </span>
      </div>

      <app-issued-check-filter
        *ngIf="showFilter"
        [currentFilter]="{}"
        [statusOptions]="statusOptions"
        (applyFilter)="onFilterApply($event)"
        (cancelFilter)="closeFilter()"
      ></app-issued-check-filter>

      <div
        *ngIf="
          incomingEndorsementsCheckDataSource.filteredData &&
            incomingEndorsementsCheckDataSource.filteredData.length > 0;
          else noFilterIncomingEndorsementsChecks
        "
      >
        <div class="table-container">
          <table
            mat-table
            [dataSource]="incomingEndorsementsCheckDataSource"
            matSort
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="checkId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Check ID
              </th>
              <td mat-cell *matCellDef="let tx">{{ tx.checkId }}</td>
            </ng-container>
            <ng-container matColumnDef="issuerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Issuer</th>
              <td mat-cell *matCellDef="let tx">{{ tx.issuerName }}</td>
            </ng-container>
            <ng-container matColumnDef="beneficiaryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Beneficiary
              </th>
              <td mat-cell *matCellDef="let tx">{{ tx.beneficiaryName }}</td>
            </ng-container>
            <ng-container matColumnDef="endorsersNames">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Endorser
              </th>
              <td mat-cell *matCellDef="let tx">{{ tx.endorsersNames }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
              <td mat-cell *matCellDef="let tx">
                <span
                  [ngStyle]="{
                    color:
                      tx.status === 'Return'
                        ? 'blue'
                        : tx.shyyiklinumberOfUsers.toString() ===
                          shayyikliAccountNumber
                        ? 'red'
                        : tx.shyyiklinumberOfBeneficiary.toString() ===
                          shayyikliAccountNumber
                        ? 'green'
                        : 'inherit'
                  }"
                >
                  {{
                    tx.shyyiklinumberOfUsers.toString() ===
                    shayyikliAccountNumber
                      ? "-"
                      : tx.shyyiklinumberOfBeneficiary.toString() ===
                        shayyikliAccountNumber
                      ? "+"
                      : ""
                  }}{{ tx.amount }}₪
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let tx">{{ tx.status }}</td>
            </ng-container>
            <ng-container matColumnDef="transferDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Transfer Date
              </th>
              <td mat-cell *matCellDef="let tx">{{ tx.transferDate }}</td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="incomingEndorsementsCheckDisplayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let row;
                columns: incomingEndorsementsCheckDisplayedColumns
              "
            ></tr>
          </table>
        </div>
        <mat-paginator
          [pageSizeOptions]="dynamicPageSizeOptions"
          showFirstLastButtons
        ></mat-paginator>
        <p class="scroll-hint">
          If there are more rows than displayed, scroll within the table to view
          them.
        </p>
      </div>

      <ng-template #noFilterIncomingEndorsementsChecks>
        <div class="limited-info" style="text-align: center">
          <h3>No Incoming Endorsements Checks Match Your Filter</h3>
          <p>
            The filter criteria you applied did not return any incoming
            endorsements Checks.
          </p>
        </div>
      </ng-template>
    </div>

    <ng-template #noIncomingEndorsementsChecks>
      <div class="limited-info" style="text-align: center">
        <h3>No Incoming Endorsements Checks Found</h3>
        <p>
          It looks like you haven't received any digital endorsements checks
          yet.
        </p>
      </div>
    </ng-template>
  </div>
</mat-expansion-panel>
