<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="filter-overlay">
    <div class="filter-box">
      <h3>Issue New Check</h3>
      <div class="form-field-group">
        <mat-form-field appearance="outline" class="custom-form-field">
          <mat-label>Check Number</mat-label>
          <input
            matInput
            type="tel"
            [value]="checkNumber"
            disabled
            maxlength="12"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Beneficiary</mat-label>
          <input
            matInput
            type="text"
            [formControl]="beneficiaryControl"
            [matAutocomplete]="auto"
            placeholder="Type to search beneficiaries"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="displayBeneficiary"
          >
            <mat-option
              *ngFor="let user of filteredBeneficiaries"
              [value]="user"
            >
              {{ user.firstName }} {{ user.lastName }} ({{
                user.shayyikliAccountNumber
              }})
            </mat-option>
          </mat-autocomplete>
          <button
            mat-icon-button
            matSuffix
            *ngIf="beneficiaryControl.value"
            (click)="clearBeneficiary()"
            class="clear-btn"
          >
            <mat-icon>close</mat-icon>
          </button>
          <mat-error
            *ngIf="
              beneficiaryControl.hasError('required') &&
              (beneficiaryControl.touched || beneficiaryControl.dirty)
            "
          >
            Beneficiary is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-group">
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input
            matInput
            type="number"
            name="amount"
            [(ngModel)]="amount"
            #amountField="ngModel"
            required
            inputmode="numeric"
            step="1"
            pattern="[0-9]*"
            (keypress)="allowOnlyIntegers($event)"
            class="example-right-align"
            placeholder="0"
            min="0"
            max="10000"
          />
          <span matTextPrefix>₪&nbsp;</span>
          <button
            mat-icon-button
            matSuffix
            *ngIf="amount"
            (click)="amount = null"
            class="clear-btn"
          >
            <mat-icon>close</mat-icon>
          </button>

          <mat-error *ngIf="amountField.hasError('required')">
            Amount is required
          </mat-error>
          <mat-error *ngIf="amountField.hasError('pattern')">
            Only whole number amounts are allowed
          </mat-error>

          <mat-error
            *ngIf="
              amountField.hasError('max') &&
              (amountField.touched || amountField.dirty)
            "
          >
            Maximum amount is 10,000 NIS
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="transactionPicker"
            name="transferDate"
            [(ngModel)]="transferDate"
            #transferDateField="ngModel"
            required
            [min]="minDate"
            (dateChange)="validateDate()"
            readonly
          />
          <div matSuffix class="suffix-group">
            <mat-datepicker-toggle
              [for]="transactionPicker"
            ></mat-datepicker-toggle>
            <button
              mat-icon-button
              *ngIf="transferDate"
              (click)="transferDate = null"
              class="clear-btn"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <mat-datepicker #transactionPicker></mat-datepicker>
          <mat-error
            *ngIf="
              transferDateField.invalid &&
              (transferDateField.touched || transferDateField.dirty)
            "
            >Date is required</mat-error
          >
          <mat-error *ngIf="transferDateField.errors?.['futureDate']"
            >Date must be in the future</mat-error
          >
        </mat-form-field>
      </div>

      <div class="button-group">
        <button class="btn-secondary" type="button" (click)="onCancel()">
          Cancel
        </button>
        <button class="btn-primary" type="submit">Apply</button>
      </div>
    </div>
  </div>
</form>
