<app-alert
  *ngIf="alertMessage"
  [message]="alertMessage"
  [type]="alertType"
></app-alert>
<div class="home-container">
  <header class="header-section">
    <img src="assets/logo.png" alt="Logo" class="header-logo" />
    <nav class="header-nav">
      <ul>
        <li><a (click)="scrollToFragment('')">Home</a></li>
        <li><a (click)="scrollToFragment('who-we-serve')">Who We Serve</a></li>
        <li><a (click)="scrollToFragment('partner')">Partner</a></li>
        <li><a (click)="scrollToFragment('services')">Services</a></li>
        <li><a (click)="scrollToFragment('contact')">Contact Us</a></li>
      </ul>
    </nav>
  </header>

  <section id="hero-section" class="hero-section">
    <div class="hero-content">
      <h1>Digitize Your Financial Transactions</h1>
      <p>
        "Shayyikli" is your gateway to secure, efficient, and transparent
        financial transactions.
      </p>
      <button class="btn-primary" (click)="navigateDigitiseNow()">
        Digitise Now
      </button>
    </div>
    <div class="hero-image">
      <img src="assets/hero-image.png" alt="Financial Transactions" />
    </div>
  </section>

  <section id="who-we-serve" class="who-we-serve">
    <h2>
      Manage Your Entire <br />
      Checkbook and Transactions <br />
      in a Single System
    </h2>
    <p>Who is this system suitable for?</p>
    <div class="features-cards">
      <div class="card">
        <img src="assets/Customers.png" alt="Logo" class="icon" />
        <h3>Bank Customers</h3>
        <p>Individual and business users managing financial transactions</p>
      </div>
      <div class="card">
        <img src="assets/Institutions.png" alt="Logo" class="icon" />
        <h3>Financial Institutions</h3>
        <p>Banks and regulatory authorities overseeing compliance</p>
      </div>
      <div class="card">
        <img src="assets/Service.png" alt="Logo" class="icon" />
        <h3>Service Providers</h3>
        <p>Companies offering check-based payment solutions</p>
      </div>
    </div>
  </section>

  <section id="partner" class="partner">
    <h2>Our Partners</h2>
    <p>
      Committed to enhancing financial transactions with our first partners.
    </p>
    <img src="assets/pma.png" alt="Partner Bank" id="partner1" />
    <img
      src="assets/Logo_de_Bank_of_Palestine.png"
      alt="Partner Bank"
      id="partner2"
    />
  </section>

  <section id="services" class="services">
    <h2>Our Key Services</h2>
    <div class="services-cards">
      <!-- first row: 3 cards -->
      <div class="row">
        <div class="card">
          <h3>Custom Checkbook Requests</h3>
          <p>Users can request checkbooks based on their classification.</p>
        </div>
        <div class="card">
          <h3>Issuance of Checks</h3>
          <p>
            Checks can be issued to designated beneficiaries for secure
            transactions based on their classification.
          </p>
        </div>
        <div class="card">
          <h3>Endorsement Management</h3>
          <p>
            Supports check endorsements to facilitate smooth transfer and
            validation.
          </p>
        </div>
      </div>
      <!-- second row: 2 cards -->
      <div class="row">
        <div class="card">
          <h3>Settlement</h3>
          <p>
            Enables efficient settlement processes for enhanced classification.
          </p>
        </div>
        <div class="card">
          <h3>Automated Transfer</h3>
          <p>
            Allows the automated transfer of checks from the sender to the
            beneficiary.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="contact-grid">
      <div class="contact-info" id="get_in_touch">
        <h2>Get in Touch</h2>
        <p>Have questions or need assistance? Our team is here to help you!</p>
      </div>
      <app-contact-form
        (alertMessageEvent)="handleAlert($event)"
      ></app-contact-form>
    </div>
  </section>

  <footer class="footer">
    <p>© 2025 Shayyikli Team. All rights reserved.</p>
  </footer>
</div>
